<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelour</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <div class="navbar">
     
    <div class="logo">
            <a href="index.html" class="home-link"><img src="../static/images/Logo1.png" alt="Logo" height="50" width="50"></a>
    </div>
        <div class="signup">
            
                <form action = "register.php" method = "post">
                    <p>username:</p>
                    <p><input type = "text" name="user" size="20"></p>
                    <p>password:</p>
                    <p><input type="password" name="password" size="20"/></p>
                    <input type="submit" class = "signup-btn" value="register">
                </form>
        </div>
    </div>    
    
    <div class="header">
        <h1>Discover</h1>
    
        <div class="user-input">
            <form action="page2.php" method="post">
                <input type="text" name="travel" class="locationInput" placeholder="Enter a location">
                <button class="travelButton">Travel</button>
            </form>
        </div>
    </div>    

    <div class="suggested-locations">
    <section id = "featured" class = "py">
        <div class = "container">
            <div class = "title-wrap">
                <span class = "sm-title">Check out some places before you decide</span>
                <h2 class = "lg-title">featured places</h2>
            </div>
            <div class = "featured-row">
        <div class = "featured-item bx shadow">
            <img src = "https://images.unsplash.com/photo-1490644658840-3f2e3f8c5625?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt = "featured place">
            <div class = "featured-content">
                <span>
                    New York, New York
                </span>
                <div>
                    <p class = "text">New York, the city that never sleeps, is a captivating metropolis pulsating
                         with energy and diversity. From the iconic skyline adorned by the Statue
                          of Liberty to the bustling streets of Times Square, the city is a melting pot
                           of cultures, cuisines, and creativity. Home to Wall Street and
                            Broadway, New York is both the financial hub and the cultural epicenter of the world.</p>
                </div>
            </div>
        </div>

        <div class = "featured-item bx shadow">
            <img src = "https://images.unsplash.com/photo-1589481169991-40ee02888551?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt = "featured place">
            <div class = "featured-content">
                <span>
                    Seattle, Washington
                </span>
                <div>
                    <p class = "text">New York, the city that never sleeps, is a captivating metropolis pulsating
                         with energy and diversity. From the iconic skyline adorned by the Statue
                          of Liberty to the bustling streets of Times Square, the city is a melting pot
                           of cultures, cuisines, and creativity. Home to Wall Street and
                            Broadway, New York is both the financial hub and the cultural epicenter of the world.</p>
                </div>
            </div>
        </div>

        <div class = "featured-item bx shadow">
            <img src = "https://images.unsplash.com/photo-1613051744581-d87fbe8c9671?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt = "featured place">
            <div class = "featured-content">
                <span>
                    Hollywood, California
                </span>
                <div>
                    <p class = "text">New York, the city that never sleeps, is a captivating metropolis pulsating
                         with energy and diversity. From the iconic skyline adorned by the Statue
                          of Liberty to the bustling streets of Times Square, the city is a melting pot
                           of cultures, cuisines, and creativity. Home to Wall Street and
                            Broadway, New York is both the financial hub and the cultural epicenter of the world.</p>
                </div>
            </div>
        </div>

        <div class = "featured-item bx shadow">
            <img src = "https://images.unsplash.com/photo-1562310503-a918c4c61e38?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt = "featured place">
            <div class = "featured-content">
                <span>
                    Yosemite, California
                </span>
                <div>
                    <p class = "text">New York, the city that never sleeps, is a captivating metropolis pulsating
                         with energy and diversity. From the iconic skyline adorned by the Statue
                          of Liberty to the bustling streets of Times Square, the city is a melting pot
                           of cultures, cuisines, and creativity. Home to Wall Street and
                            Broadway, New York is both the financial hub and the cultural epicenter of the world.</p>
                </div>
            </div>
        </div>

        <div class = "featured-item bx shadow">
            <img src = "https://images.unsplash.com/photo-1509833272584-a3bc4d0e23bb?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt = "featured place">
            <div class = "featured-content">
                <span>
                    Port Angeles, Washington
                </span>
                <div>
                    <p class = "text">New York, the city that never sleeps, is a captivating metropolis pulsating
                         with energy and diversity. From the iconic skyline adorned by the Statue
                          of Liberty to the bustling streets of Times Square, the city is a melting pot
                           of cultures, cuisines, and creativity. Home to Wall Street and
                            Broadway, New York is both the financial hub and the cultural epicenter of the world.</p>
                </div>
            </div>
        </div>

        <div class = "featured-item bx shadow">
            <img src = "https://images.unsplash.com/photo-1577496549857-d745b750e924?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt = "featured place">
            <div class = "featured-content">
                <span>
                    San Diego, California
                </span>
                <div>
                    <p class = "text">New York, the city that never sleeps, is a captivating metropolis pulsating
                         with energy and diversity. From the iconic skyline adorned by the Statue
                          of Liberty to the bustling streets of Times Square, the city is a melting pot
                           of cultures, cuisines, and creativity. Home to Wall Street and
                            Broadway, New York is both the financial hub and the cultural epicenter of the world.</p>
                </div>
            </div>
    
    <div class="footer">
        <p>&copy; 2023 Travelour. All rights reserved.</p>
    </div>
    
</body>
</html>
