<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Roam Ready</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="page2.css">
    <script src="../src/script/scripts.js"></script>
</head>
<body>
    <div class="navbar">

        <div class="logo">
            <a href="index.html" class="home-link"><img src="../src/images/Logo1.png" alt="Logo" height="50" width="50"></a>
        </div>
        <div class="signup">
            <a href="#signup" class="signup-btn">Sign Up</a>
        </div>
    </div>    
    <div class="header">
        <h1>Choose your Adventure</h1>

    <form action = "" method="post">

    <div class="container">
        <div class="picture">
            <img id="outdoor" src="../src/images/outdoor.jpg" alt="tree" width="300" height="440" class="image" onclick="select()">
            <div class="middle">
                <div class="text">
                    Outdoor Activities
                </div>
            </div>
        </div>
        <div class="picture">
            <img id="event" src="../src/images/event.jpg" alt="tree" width="300" height="440" class="image" onclick="select()">
            <div class="middle2">
                <div class="text">
                    Event Activities
                </div>
            </div>
        </div>
        <div class="picture">
            <img id="leisure" src="../src/images/leisure.jpg" alt="tree" width="300"height="440" class="image" onclick="select()">
            <div class="middle3">
                <div class="text">
                    Leisure Activities
                </div>
            </div>
        </div>
    </div>

    </form>

    <div class="footer">
        <p>&copy; 2023 RoamReady. All rights reserved.</p>
    </div>
</body>
</html>