body{
    font-family: var(--font-primary), var(--font-secondary);
    margin:0px;
    padding:0px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--bg-300);
}

.nav-links,
.logo,
.signup {
    display: flex;
    align-items: center;
}

.nav-links a{
    margin: 0 10px;
    text-decoration: none;
    color: var(--text-100);
    font-weight: bold;
}

.logo {
    flex-grow: 1;
    justify-content: center;
}

.home-link img {
    display: block;
}
.container{
    display:flex;
}
.picture:hover .image{
    opacity: 0.3;
}

.picture {
    float: left;
    width: 33.3%;
    padding: 10px;
    margin-left:40px;

    
}
/*
.picture img {
    width: 100%;
    height: 600px;
}
*/
.middle{
    opacity:0;
    position:absolute;
    top: 33%;
    left:12%;

}
.middle2{
    opacity:0;
    position:absolute;
    top: 33%;
    left:46%;

}
.middle3{
    opacity:0;
    position:absolute;
    top: 33%;
    left:80%;

}
.picture:hover .middle{
    opacity:1;
}
.picture:hover .middle2{
    opacity:1;
}
.picture:hover .middle3{
    opacity:1;
}
.text{
    color:black;
    font-weight:bold;
    font-size: 20px;
}
.top{
   text-align: center;
}
.header, .footer{
    background-color: var(--bg-100);
    text-align: center;
    padding: 20px 0;
}
/*
.picture {
    flex: 1;
    margin: 20px;
    padding: 30px;
    background-color: var(--bg-200);
    border: 1px solid var(--bg-200);
    width: 25%;
    border-radius: 30px;
}
*/